[Unit]
Description=PostgreSQL 18.2 (IMMER build)
Documentation=man:postgres(1)
After=network.target

[Service]
Type=notify
User=postgres
Group=postgres
Environment=PGDATA=/var/lib/pgsql/18/data
ExecStart=/opt/pgsql/18.2/bin/postgres -D ${PGDATA}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=3
TimeoutStartSec=120
TimeoutStopSec=120
LimitNOFILE=1048576
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
